<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>WebScraper</title>
  </head>
  <body>
    <div class="container">
      <h1>WebScraper</h1>
      <!--
      <form action="shortUrls" method="POST" class="my-4 form-inline">
        <label for="fullUrl" class="sr-only">URL</label>
        <input
          required
          placeholder="Enter URL"
          type="url"
          name="fullUrl"
          id="fullUrl"
          class="form-control mr-1 col"
        />
        <button type="submit" class="btn btn-success">Fetch!</button>
      </form>
-->

      <table class="table table-boderless table-responsive">
        <caption>
          List of Art
        </caption>
        <thead>
          <tr>
            <th>Image Title</th>
            <th>Artist Name</th>
            <th>Price</th>
            <th>Timestamp</th>
          </tr>
        </thead>
        <tbody>
          <% shortUrls.forEach(shortUrl => { %>

          <tr>
            <td>
              <a href="<%= shortUrl.image_title %>"><%= shortUrl.image_title %></a>
            </td>
            <td><a href="<%= shortUrl.artist_name %>"><%= shortUrl.artist_name %> </a></td>
            <td><%= shortUrl.price %></td>
            <td><%= shortUrl.createdAt;%></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
